// @import "~react-toolbox/lib/colors";

// https://www.materialui.co/colors

// COLORS

$color-primary: rgb(20,78,140);
$color-primary-dark: rgb(7,30,54);
$color-accent: rgb(80,184,72);
$color-accent-dark: rgb(42,97,32);


// UNITS

$unit-base-element-padding: 1.8rem;
$unit-base-icon-size: 36px;
$autocomplete-overflow-max-height: 25vh !default;
